#listaimg{
    position: absolute;
    top:90%;
    margin-top: -300px;
    transform: skew(0deg, -6deg);
}
.page-footer{
    color:white;
}

a{
    color:white;
}

.titulocurso{
    transform: skew(0deg, -6deg);
    font-size: 100px;
    color:white;
    text-align: center;
    margin-bottom: 40px
    /*Cambiar fuente y sombra*/
    font-family: 'Patua One', cursive;
    text-shadow: 1px 2px #000;
}

#principal{
    display: flex;
    background-image: url("img/estudiantes.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
/*Texto navbar en color blanco*/
.navbar-light .navbar-nav .nav-link{
    color: #fff;
}

.cree{
    display:inline-block;
    width: 200px;
    margin-left: 150px;
}

#principal{
    height: 1000px;
}

p.contactinfo{
    color:red;
    font-size: 20px;
    text-align: center;
}

#contactform{
    display:none;
    position: absolute;
    top:20%;
    width: 100%;
}

#cajafront {
    position: relative;
    background-color: #c80021;
    width:100%;
    height: 500px;
    top:55%;
    transform: skew(0deg, 6deg);
    }

.burger{
    width:35px;
}

.logo{
    width:200px;
}
#orientador{
    position: relative;
    text-align: center;
}

#forma{
    position: relative;
    text-align: center;

}
.nav-link {
    color: rgba(247, 249, 247, 0.5);
}
.bg-light{
    background: rgb(255,255,255)!important;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(200,0,33,1) 67%)!important;
}

#formlog{
    display:none;
}

#contdesc{
    display:none;
}

.logodescargas{
    width:400px;
}

#descargar{
    display: none;
    height: 500px;
}

.page-footer{
    background-color: #c80021

}

h5.text-uppercase{
    color:yellow;
}

a.page-footer{
    color:white;
}

.btn{
    background-color: #c80021;
    color:#ffffff;
}

section{
    height: 900px;
    width:100%;
}

@media only screen and (max-width: 1321px){
    #contactform{
    position:inline;
    display:none;
    top:30%;
    left:2%;
    }
}
/*Media query para ajustar tamaño de logos*/
@media only screen and (max-width: 1321px){
.cree{
    display:inline-block;
    width: 200px;
    margin-left: 75px;
}
    
@media only screen and (max-width: 1321px){
    .titulocurso{
        font-size: 50px;
        transition: width 2s;
    }
    
    /*Media query para ajustar tamaño de logos*/
    .cree{
    display:inline-block;
    width: 150px;
    margin-left: 75px !important;
}
}

@media only screen and (max-width: 1321px){
    .cree{
        width: 150px;
        margin-left: 0px;
    }
}
    
 /*Media query para ajustar tamaño de logos*/    
 @media only screen and (min-width: 1321px){
    #contactform{
    position:inline;
    display:none;
    top:30%;
    left:2%;
    }
    .cree{
    display:inline-block;
    width: 150px;
    margin-left: 105px !important;
}
}

.table .thead-dark th{
background-color:#c80021;
}

img{
    width: 50px;
}

.tabla a{
    color:red;
}